@keyframes animProjetos {
    from {
        
        width: 600px;
        height: 300px;
    }
    to {
        
        width: 700px;
        height: 580px;
    }
}

.link:hover{ 
    background-color: #bcbfc5; 
    transition: 0.4s;
    opacity: 0.8;  
    border-radius: 5px;
    padding: 1px;
    color: white;
}

body{
    background-image: url("imagens/background.jpg");
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    background-size: 100%; 
}

.fotoProjetos {
    width: 600px;
    height: 300px;
    
    /*transition: all 3s ease-in;*/
    /*animation: animProjetos 3s infinite;*/
}

.navBar {
    display: grid;
    grid-template-columns: 75% 8% 8% 8%;
    background-color: #6a7896;
    width: 100%;
    height: max-content;
    padding: 5px;
    justify-items: start;
    align-items: center;
    position: fixed;
  }



.logo {
    max-width: 70%;
    
}

.link {
    margin: 0 15px 0 0;
    font-size: small;
    color: #ffffff;
    font-family:  sans-serif;
    text-decoration: none;
    font-weight: bolder;
    text-shadow: 0.1em 0.1em 0.2em black
}

.divHome{
    display: grid;
    height: 100vh;
    grid-template-rows: 2.5fr 2fr 0.5fr 0.3fr 2.3fr;
    grid-template-columns: 0.5fr 2fr 0.5fr;
    width: 100%;
    height: max-content;
    align-items: center;
    justify-items: center;
    color: white;  
}

.item1{
    width: 18%;;
    grid-row: 2;
    grid-column: 2;   
}

.item2{
    grid-row: 3;
    grid-column: 2; 
    text-shadow: 0.15em 0.15em 0.25em black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    margin: 10px;
}

.item3{
    grid-row: 4;
    grid-column: 2; 
    text-shadow: 0.1em 0.1em 0.2em black ;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500
}

.perfilProssional{
    width: 95%;
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 1fr ;
    justify-items: center;
    align-items: center;
    margin: auto;
    box-shadow: 0.0em 0.0em 0.0em black;
    
}

.itemImg1Perfil {
    width: 70%;
    margin: 10px ;
}

.divEducacao{
    display: grid;
    grid-template-rows: 1fr 8fr;
    border-right: 1px solid black;
}

.itemTituloPerfil {  
    text-align: right;
    width: 90%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #6a7896;
}

.itemTexto1Perfil {
    width: 90%;
    margin: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: right;     
}

.divQualificacao{
    display: grid;
    grid-template-rows: 1fr 7fr;   
}

.itemTitulo2Perfil {  
    text-align: left;
    width: 90%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #6a7896;
}

.itemTexto2Perfil {  
    text-align: left;
    width: 90%;
    margin: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.itemImg2Perfil {
    width: 77%;
    margin: 10px ;

}

  
.divPortifolioTitulo{
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 8%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.portifolioTitulo{
    color: #6a7896;
    font-weight: bold;
}

.portifolioSubTitulo{
    font-weight: bold;
}

.portifolioDesc{
    color: #898c95;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.divProjetos{
    position: relative;
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    margin: 50px auto;
    height: 440px;

}

.fotoProjetos {
    width: 380px;
    height: 200px;
    opacity: 0.6;
    filter: brightness(14%);
    margin: 10px;
    border-radius: 9px;
    box-shadow: 0px 0px 0px;
    
    /*transition: all 3s ease-in;*/
    /*animation: animProjetos 3s infinite;*/
}



/*footer*/
.divFooter {
    display: grid;
    grid-template-columns: 4fr 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    height: max-content;
    background-color: #6a7896;
    color: white;
    justify-items: center;
    align-items: center;
    text-shadow: 0.1em 0.1em 0.2em black;
    padding: 10px;
    margin-top: 140px;
    
}

.imgFooter{
    width: 50%;  
}

.imgMail{
    width: 35%;
    margin: 10px;
}

.lineFooter{
    height: 17vh;
 
}

.textFooter{
    font-size: 80%;
    margin: auto;   
}

.divMailCel{
    display: grid;
    grid-template-columns: 2fr 4.5fr 2fr 2fr;
    justify-items: center;
    align-items: center;
    margin: auto;
}

