@keyframes animProjetos {
    from {
        background-color: #b8b8be;
        width: 200px;
        height: 200px;
    }
    to {
        background-color: #b8b8be;
        width: 300px;
        height: 300px;
    }
}

body{
    background-image: url("imagens/background.jpg");
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    background-size: 100%;
    
}

.navBar {
    display: grid;
    grid-template-columns: 5% 69% 8% 8% 8%;
    background-color: #6a7896;
    width: 100%;
    height: max-content;
    padding: 5px;
    justify-items: end;
    align-items: center;
    position: fixed;
  }



.logo {
    max-width: 80%;
}

.link {
    margin: 0 15px 0 0;
    font-size: small;
    color: #ffffff;
    font-family:  sans-serif;
    text-decoration: none;
    font-weight: bolder;
}

.divHome{
    display: grid;
    height: 100vh;
    grid-template-rows: 2fr 2fr 0.5fr 0.3fr 2.3fr;
    grid-template-columns: 0.5fr 2fr 0.5fr;
    width: 100%;
    height: max-content;
    align-items: center;
    justify-items: center;
}

.item1{
    width: 20%;;
    height: 101%;
    border-radius: 220px;
    grid-row: 2;
    grid-column: 2;  
}

.item2{
    grid-row: 3;
    grid-column: 2;  
}
.item3{
    grid-row: 4;
    grid-column: 2;  
}

.perfilProssional{
   
    display: grid;
    grid-template-columns: 1fr 3fr 0.1fr 3fr 1fr;
    justify-items: center;
    align-items: center;
    
}

.itemImg1Perfil {
    width: 70%;
    margin: 10px ;
}

.itemTexto1Perfil {
    text-align: end;
    width: 90%;
       
}

.itemLinhaPerfil {
    height: 70%;
}

.itemTexto2Perfil {  
    text-align: start;
    width: 90%;  
    
}

.itemImg2Perfil {
    width: 70%;
    margin: 10px ;

}
.divProjetos {
    display: flex;
    position: relative;
    width: 100%;
    justify-items: end;
    padding: 10%;
}



.imgProjeto1 {
    position: absolute;
    width: 15%;
    margin: 0 0 0 0;
    left: 7%;
    
    
    
}

.textoProjeto1 {
    position: absolute;
    text-align: end;
    font-size: 1vw;
    width: 30%;
    margin: 0 0 0 0;
    right: 10%;
}
   
.quadrado {
    margin: 10%;
    display: block;
    width: 200px;
    height: 200px;
    background-color: #b8b8be;
    transition: all 3s ease-in;
    animation: animProjetos 3s infinite;
}

main{
    width: 80%;
    display: table;
    height: 800px;
    background-color: #b8b8be;
    margin: 100px auto;

}

.divFooter {
    display: grid;
    grid-template-columns: 1fr 3fr 0.1fr 2fr 2fr 2fr 2fr 0.1fr 3fr 1fr;
    width: 100%;
    height: 20vh;
    background-color: #6a7896;
    color: white;
    justify-items: center;
    align-items: center;
  
  }

.imgFooter{
    width: 50%;
}
.lineFooter{
    height: 15vh;
 
}
.textFooter{
 
}